.h1 {
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    text-align: center;
}

.h1::before, .h1::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #000000;
    width: 13rem;
    margin: 0 2rem;
    transform: translateY(-1rem);
}

@media (min-width: 654px) and (max-width: 930px) {
    .h1 {
        padding: 0 20%;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 7%; /* this doesn't seem to be responsive? */
}

@media (max-width: 1150px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5%;
    }
}

@media (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr;
        row-gap: 2%;
    }
}