.top.close {
    transform-origin: 50% 1.5px; /* with respect to vector */
    animation: topAnimationReverse 500ms forwards;
}
.middle.close {
    transform-origin: 50% 15px; /* with respect to vector */
    animation: middleAnimationReverse 500ms forwards;
}
.bottom.close {
    transform-origin: 50% 28.5px; /* with respect to vector */
    animation: bottomAnimationReverse 500ms forwards;
}

.top.open {
    transform-origin: 50% 1.5px; /* with respect to vector */
    animation: topAnimation 500ms forwards;
}

.middle.open {
    transform-origin: 50% 15px; /* with respect to vector */
    animation: middleAnimation 500ms forwards;
}

.bottom.open {
    transform-origin: 50% 28.5px; /* with respect to vector */
    animation: bottomAnimation 500ms forwards;
}

@keyframes topAnimation {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(13.5px) rotate(0);
    }
    100% {
        transform: translateY(13.5px) rotate(135deg);
    }
}

@keyframes middleAnimation {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bottomAnimation {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-13.5px) rotate(0);
    }
    100% {
        transform: translateY(-13.5px) rotate(45deg);
    }
}

@keyframes topAnimationReverse {
    0% {
        transform: translateY(13.5px) rotate(135deg);
    }
    50% {
        transform: translateY(13.5px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes middleAnimationReverse {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bottomAnimationReverse {
    0% {
        transform: translateY(-13.5px) rotate(45deg);
    }
    50% {
        transform: translateY(-13.5px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}