.header {
    height: 80px;
    background: var(--gray-transparent);
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    backdrop-filter: blur(4px);
}

.content {
    margin: 0 auto;
    max-width: var(--content-max-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--content-padding);
}

.mobileMenu a {
    margin-left: 30px;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #000000;
}

.activeLink {
    text-decoration: underline !important;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px !important;
}