/* Define global styles here */

:root {
    --content-max-width: 1440px;
    --content-padding: 24px;
    --header-height: 80px;
    --font-family: "Roboto", georgia, serif;
    --background-gray: #E7E4E0;
    --gray-transparent: rgba(255, 255, 255, 0.6);
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    background: var(--background-gray);
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-family);
}